target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

.idea/
*.iml

gen/
src/main/antlr4/uk/ac/imperial/pipe/parsers/gen/
.project
.classpath
.settings/
