<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
<!--      Uncomment this logger section to get the debug log for one particular class       -->
<!--     <Logger name="uk.ac.imperial.pipe.runner.PetriNetRunner" level="debug" additivity="false"> -->
<!--       <AppenderRef ref="Console"/> -->
<!--     </Logger> -->
<!--     <Root level="error"> -->
    <Root level="debug">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>
